@model ItemViewModel
@{
    <div class="d-flex flex-column flex-lg-row ">
        <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
            <div class="card card-flush py-4">
                <div class="card-header">
                    <div class="card-title">
                        <h2>Item Photo</h2>
                    </div>
                </div>
                <div class="card-body text-center pt-0">
                    <div class="image-input image-input-outline" data-kt-image-input="true"
                        style="background-image: url('@Url.Content(Model.ItemPhotoPath) ')">
                        <div class="image-input-wrapper" src="defaultImage"
                            style="background-image: url('@Url.Content(Model.ItemPhotoPath)'); width:150px !important; height:150px !important;">
                        </div>
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-35px h-35px bg-body shadow"
                            data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change Photo">
                            <i class="ki-duotone ki-pencil fs-1"><span class="path1"></span><span class="path2"></span></i>
                            <input type="file" asp-for="Photo" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                        </label>
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-35px h-35px bg-body shadow"
                            data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel Photo">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </span>
                    </div>
                    <div class="text-muted fs-7">Set the Item thumbnail image. Only *.png, *.jpg and *.jpeg image files are
                        accepted</div>
                </div>
            </div>

        </div>

        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

            @{
                if (Model.ActionType == "UPDATE")
                {
                    @await Html.PartialAsync("Item/_ItemDetails", Model)
                }
                else
                {
                    if (Model.ItemType == ItemType.Operational)
                    {
                        @await Html.PartialAsync("Item/_ItemDetails", Model)
                    }
                    else{

                    <div class="card card-flush py-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">

                                    <label class="fs-5 fw-bold form-label"> </label>
                                    <div class="form-control fs-5">
                                        <label class="form-check form-switch form-check-custom form-check-solid">
                                            <span class="form-check-label fs-5 fw-bold text-dark ">
                                                Existing Item
                                            </span>
                                            <input class="form-check-input toggle-check-input mx-3" type="checkbox"
                                                asp-for="IsNewItem" onchange="toggleItemType()">
                                            <span class="form-check-label fs-5 fw-bold text-primary">
                                                New Item
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-flush py-4" id="existingItemPlaceHolder" style="display:none;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label class="fs-6 fw-bold my-3">Select Item:</label>
                                    <div class="form-group pb-8">
                                        <select asp-for="ItemId"
                                            class="form-control form-control-lg form-select border border-solid border-gray-400">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label fs-6 fw-semibold">Serial Number:</label>
                                    <input asp-for="@Model.SerialNumber" type="text" class="form-control mb-2"
                                        placeholder="Item Code" />
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fs-6 fw-semibold">Tag:</label>
                                    <input asp-for="@Model.Tag" type="text" class="form-control mb-2" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="newItemPlaceHolder" style="display:none;">
                        @await Html.PartialAsync("Item/_ItemDetails", Model)
                    </div>
                    
                   }
                }

                @await Html.PartialAsync("Item/_InventoryEditor", Model)
            }

        </div>
    </div>
}