@model dynamic
<button id="@Model.ElementId" type="@Model.ElementType" class="btn btn-primary float-end fs-3">
    <i class="ki-duotone ki-save-2 fs-2">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
    @Model.ElementText
</button>