@model UserViewModel

<div class="card pt-4 mb-6 mb-xl-9">
    <div class="card-header border-0">
        <div class="card-title">
            <h3> Permissions</h3>
        </div>
    </div>
    <div class="card-body pt-0 pb-5">
        <form class="form" id="formPermission" asp-controller="Account" asp-action="ChangeUserPermission">
            <input id="UserId_permission" type="hidden" asp-for="@Model.UserId" />
            <input id="RoleId_permission" type="hidden" asp-for="@Model.RoleId" />
            <div class="fv-row">
                <!--begin::Table wrapper-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-4 mb-0 dataTable">
                        <tr class="">
                            <th style="min-width:300px;"></th>
                            <th></th>
                        </tr>
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold">
                            <!--begin::Table row-->
                            <tr>
                                <td class="text-gray-800">
                                    <span>Administrator Access</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Allows a full access to the system"></i>
                                </td>
                                <td>
                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-9">
                                        <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPer')" id="roles_select_all" />
                                        <span class="form-check-label" for="roles_select_all">Select all</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-gray-800">
                                    <span>Select All</span>
                                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Allows access to the all actions of each module"></i>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerCreate')" id="create_select_all" />
                                            <span class="form-check-label" for="create_select_all">Create</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerRead')" id="read_select_all" />
                                            <span class="form-check-label" for="read_select_all">Read</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerUpdate')" id="update_select_all" />
                                            <span class="form-check-label" for="update_select_all">Update</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerDelete')" id="delete_select_all" />
                                            <span class="form-check-label" for="delete_select_all">Delete</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerConfigure')" id="export_select_all" />
                                            <span class="form-check-label" for="export_select_all">Export</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerConfigure')" id="configure_select_all" />
                                            <span class="form-check-label" for="configure_select_all">Configure</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerApprove')" id="approve_select_all" />
                                            <span class="form-check-label" for="approve_select_all">Approve</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerApprove')" id="appoint_select_all" />
                                            <span class="form-check-label" for="appoint_select_all">Appoint</span>
                                        </label>
                                        <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                            <input class="form-check-input" type="checkbox" value="" onclick="toggleCheckBox(this,'chkPerReport')" id="report_select_all" />
                                            <span class="form-check-label" for="report_select_all">Report</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <!--end::Table row-->
                            <!--begin::Table row-->
                            @{
                                if (Model.RoleModulePermissions?.Count() > 0)
                                {
                                    int modCount = Model.RoleModulePermissions.Count();
                                    for (int i = 0; i < modCount; i++)
                                    {
                                        <tr>
                                            <td class="text-gray-80">@Model.RoleModulePermissions[i].Module.ModuleDisplay</td>
                                            <td>
                                                <!--begin::Wrapper-->
                                                <div class="d-flex">
                                                    <input type="hidden" asp-for="RoleModulePermissions[i].ModuleId" />
                                                    <input type="hidden" asp-for="RoleModulePermissions[i].RoleId" />
                                                    <label class="form-check form-check-sm form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Create" class="form-check-input chkPer chkPerCreate" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Create</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Read" class="form-check-input chkPer chkPerRead" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Read</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Update" class="form-check-input chkPer chkPerUpdate" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Update</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Delete" class="form-check-input chkPer chkPerDelete" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Delete</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Export" class="form-check-input chkPer chkPerExport" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Export</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Configure" class="form-check-input chkPer chkPerConfigure" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Configure</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Approve" class="form-check-input chkPer chkPerApprove" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Approve</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Appoint" class="form-check-input chkPer chkPerAppoint" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Appoint</span>
                                                    </label>
                                                    <label class="form-check form-check-custom form-check-solid me-5 me-lg-20">
                                                        <input asp-for="RoleModulePermissions[i].Report" class="form-check-input chkPer chkPerReport" onclick="roleClick(this);" type="checkbox" value="" />
                                                        <span class="form-check-label">Report</span>
                                                    </label>
                                                </div>
                                                <!--end::Wrapper-->
                                            </td>
                                            <!--end::Input group-->
                                        </tr>
                                    }
                                }
                            }

                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table wrapper-->
            </div>
            <div class="separator separator-dashed my-5"></div>
            <div class="text-gray-600 float-end">
                <button type="submit" id="permission_submit" form="formPermission" class="btn btn-lg btn-primary me-3" onclick="return confirmDialog('formPermission', this)">
                    <span class="indicator-label">
                        Save
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

